<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Anim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0216B85C1E30CCD6003F041F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0216B8731E30CCD6003F041F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0216B87E1E30CCD6003F041F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
